<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
        include ../static/style.css
</head>
<body>
    <nav><ul><li> <a href="/">Home</a></li>
            <li> <a href="/">about</a></li>
            <li> <a href="/">contact us</a> </li>
</ul>
</nav>
<div class="container">

    <h1>Get this gym membership for free now</h1>

    <form action="/" method="POST" id='contact'>
    <input name="name" type="text" placeholder="enter your name">
    <input name="age" type="text" placeholder="enter your age">
    <input name="gender" type="text" placeholder="enter your gender">
    <textarea name="address" id="" cols="30" placeholder="address" rows="10"></textarea>
    <textarea name="more" id="" cols="30" rows="10" placeholder="more about you" ></textarea>
    <button>submit</button>
    </form>

</div>
</body>
</html>