<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>win11</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="icons"><img src="/static/chromeicon.png"height="40px" alt="">
    <div>Google</div>
    <div>Chrome</div>
    </div>
    <div id="edge" class="icons"><img src="/static/edgeicon.png"height="40px" alt="">
    <div>Edge</div>
    </div>
    <div id="bin" class="icons"><img src="/static/recyclebinicon.png"height="40px" alt="">
    <div>Recycle</div>
    <div>Bin</div>
    </div>
    <div class="taskbar"><img src="/static/icons.png" alt="">
    <img class="right" src="/static/taskbarright.png" alt="">
    </div>
    <div class="start"><img src="/static/startmenu.png" alt="" height="430px">
    </div>
    <video class="vid" autoplay muted><source src="/static/video.webm" type="video/webm"></video>
</body>
<script src="/static/script.js"></script>
</html>